<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <title>🚴💨 velo.france.sh</title>
    <style>
        table {
            font-size: 0.8em;
        }
        h2 > img {
            max-width: 30px;
            margin-bottom: -5px;
        }
        td, th {
            vertical-align: middle;
            text-align: center;
            padding: 0.4rem .4rem;
        }
        table > tbody > tr > th {
            font-size: 1.2em;
        }
        .degree {
            display: inline-block;
        }
        footer {
            border-top: 1px solid lightgrey;
            font-size: 0.8em;
            margin-top: 2em;
            padding-top: 0.5em;
            margin-bottom: 0.5em;
        }
        #location {
            display: inline-block;
            width: auto;
        }
        form {
            margin: 1em 0 .7em;
        }
        div.form {
            text-align: right;
        }
        details > ul {
            list-style-type: none;
        }
        section {
            margin-top: 2em;
        }
        small {
            font-size: .8em;
        }
    </style>
</head>
<body>
    <div class="container">
        {% set location = data.location.name + ", " + data.location.country if data else _('No data found') %}
        <header>
            <div class="row">
                <div class="col">
                    <h1>🚴💨 velo.france.sh</h1>
                </div>
                <div class="col form">
                    <form method="GET" action="/" id="location-form">
                        <input list="locations" type="text" name="location" id="location" autocomplete="off" value="{{ location }}" aria-label="{{ _("Location") }}">
                        <datalist id="locations"></datalist>
                        <button type="submit">{{ _("Go !") }}</button>
                    </form>
                </div>
            </div>
        </header>
        {% if not data %}
        🤕 {{ _("No data found. Wrong location?") }}
        {% else %}
        <details>
            <summary>💡 {{ _("Legend") }}</summary>
            <p>
                <ul>
                    <li>
                        🎲 {{ _("A ride opportunity indicator, based on rain and wind.") }}
                        {{ _("See source code <code>def proba(hour):</code> for details.") }}
                        {{ _("Linear gradient from 0 (white) to 100 (green).") }}
                    </li>
                    <li>💨 {{ _("Wind speed in kilometers per hour, color scale from 0 (white) to %(max_wind)s (red), capped at the max wind speed of %(max_wind)s<abbr title='kilometers per hour'>kph</abbr>.", max_wind=max_wind) }}</li>
                    <li>🧭 {{ _("Wind directions, in degrees.") }}</li>
                    <li>
                        🌧 {{ _("Precipitation in millimeters for an hour.") }}
                        {{ _("Color scale from 0 (white) to 100&percnt; (red), based on (rain probability × preciptation) capped at %(max_rain)s<abbr title='millimeters'>mm</abbr>.", max_rain=max_rain) }}</li>
                    <li>☔️ {{ _("Rain probability, color scale from 0 (white) to 100&percnt; (red).") }}</li>
                    <li>🌡 {{ _("Temperature in degree Celcius. Scale from 0<abbr title='degrees Celcius'>°C</abbr> (blue) to white (19<abbr title='degrees Celcius'>°C</abbr>) and from white to red (30<abbr title='degrees Celcius'>°C</abbr>).") }}</li>
                    <li>🥶 {{ _("Apparent temperature, in degree Celcius. Same scale as temperature.") }}</li>
                </ul>
            </p>
        </details>
        <!-- <section>
            <h2>Now</h2>
            <img src="{{ data.current.condition.icon }}" alt="">
            <table>
                <tr>
                    <th>Updated</th>
                    <td>{{ data.current.last_updated }}</td>
                </tr>
                <tr>
                    <th>Wind speed</th>
                    <td>{{ data.current.wind_kph }} kph</td>
                </tr>
                <tr>
                    <th>Wind direction</th>
                    <td>{{ data.current.wind_dir }}</td>
                </tr>
                <tr>
                    <th>Wind gust</th>
                    <td>{{ data.current.gust_kph }} kph</td>
                </tr>
                <tr>
                    <th>Precipitation</th>
                    <td>{{ data.current.precip_mm }} mm</td>
                </tr>
                <tr>
                    <th>Feels like</th>
                    <td>{{ data.current.feelslike_c }} °C</td>
                </tr>
            </table>
        </section> -->
        {% set forecasts = data.forecast.forecastday %}
        {% for forecast in forecasts %}
        <section>
            <h2><img src="{{ forecast.day.condition.icon }}" alt="{{ forecast.day.condition.code|localized_condition }}"> {{ forecast.date|day }}</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <th>{{ hour.time.split(' ')[-1].split(':')[0] }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th></th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td><img style="max-width: 25px;" src="{{ hour.condition.icon }}" alt="{{ hour.condition.code|localized_condition }}"></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th title="{{ _("Very complicated opportunity indicator") }}">🎲</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td style="background-color: {{ hour|proba }};"></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th title="{{ _("Wind speed (kph)") }}">💨</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td style="background-color: {{ hour.wind_kph|gradient(max_wind) }};">{{ hour.wind_kph }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th title="{{ _("Wind direction") }}">🧭</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td>
                            <span aria-hidden class="degree" style="transform: rotate({{ hour.wind_degree }}deg);">↓</span>
                            <br>
                            <small><abbr title="{{ hour.wind_dir|localized_azimuth|last }}">{{ hour.wind_dir|localized_azimuth|first }}</abbr></small>
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th title="{{ _("Precipitation (mm)") }}">🌧</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td style="background-color: {{ hour.precip_mm|gradient_precip }};">
                            {{ hour.precip_mm }}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th title="{{ _("Chance of rain") }}">☔️</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td style="background-color: {{ hour.chance_of_rain|gradient(100) }};">{{ hour.chance_of_rain }}{{_("&percnt;")}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th title="{{ _("Temperature") }}">🌡</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td style="background-color: {{ hour.temp_c|gradient_temp(19) }};">{{ hour.temp_c }}{{_("°C")}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th title="{{ _("Feels like") }}">🥶</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td style="background-color: {{ hour.feelslike_c|gradient_temp(19) }};">{{ hour.feelslike_c }}{{_("°C")}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </section>
        {% endfor %}
        {% endif %}
        <footer>
            <a href="https://github.com/abulte/velo-weather">{{ _("Source code") }}</a> | <a href="https://www.buymeacoffee.com/abulte">{{ _("Buy me a pizza") }} 🍕</a>
        </footer>
        <script>
            function submitForm() {
                document.getElementById("location-form").submit()
            }
            var locEl = document.getElementById("location")
            var locListeEl = document.getElementById("locations")
            locEl.onfocus = function (e) {
                e.target.value = ""
            }
            locEl.onchange = function () {
                submitForm()
                locEl.disabled = true
            }
            locEl.oninput = function (e) {
                if (!window.fetch) return
                window.fetch("https://geo.api.gouv.fr/communes?nom=" + e.target.value + "&fields=departement&boost=population&limit=5")
                .then(function (r) { return r.json() })
                .then(function(data) {
                    if (!data.length) return
                    locListeEl.innerHTML = data.map(l => {
                        return "<option value='" + l.nom +"'>" + l.departement.nom + "</option>"
                    })
                })
            }
        </script>
    </div>
</body>
</html>
