<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <title>Document</title>
    <style>
        table {
            font-size: 0.8em;
        }
        td, th {
            vertical-align: middle;
            text-align: center;
            padding: 0.4rem .4rem;
        }
        table > tbody > tr > th {
            font-size: 1.2em;
        }
        .degree {
            display: inline-block;
        }
        footer {
            border-top: 1px solid lightgrey;
            font-size: 0.8em;
            margin-top: 10px;
            padding-top: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>Forecast for {{ data.location.name }} ({{ data.location.country }})</h1>
        </header>
        <!-- <section>
            <h2>Now</h2>
            <img src="{{ data.current.condition.icon }}" alt="">
            <table>
                <tr>
                    <th>Updated</th>
                    <td>{{ data.current.last_updated }}</td>
                </tr>
                <tr>
                    <th>Wind speed</th>
                    <td>{{ data.current.wind_kph }} kph</td>
                </tr>
                <tr>
                    <th>Wind direction</th>
                    <td>{{ data.current.wind_dir }}</td>
                </tr>
                <tr>
                    <th>Wind gust</th>
                    <td>{{ data.current.gust_kph }} kph</td>
                </tr>
                <tr>
                    <th>Precipitation</th>
                    <td>{{ data.current.precip_mm }} mm</td>
                </tr>
                <tr>
                    <th>Feels like</th>
                    <td>{{ data.current.feelslike_c }} °C</td>
                </tr>
            </table>
        </section> -->
        {% set forecasts = data.forecast.forecastday %}
        {% for forecast in forecasts %}
        <section>
            <h2>{{ forecast.date|day }}</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <th>{{ hour.time.split(' ')[-1].split(':')[0] }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th></th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td><img style="max-width: 25px;" src="{{ hour.condition.icon }}" alt=""></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>🎲</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td style="background-color: {{ hour|proba }};"></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>💨</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td style="background-color: {{ hour.wind_kph|gradient(50) }};">{{ hour.wind_kph }}</td>
                        {% endfor %}
                    </tr>
                    <!-- <tr>
                        <th>🧭</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td>{{ hour.wind_dir }}</td>
                        {% endfor %}
                    </tr> -->
                    <tr>
                        <th>🧭</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td><span class="degree" style="transform: rotate({{ hour.wind_degree }}deg);">↓</span></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>🌧</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <!-- TODO: move computation to app.py -->
                        <td style="background-color: {{ ([hour.precip_mm, max_rain]|min * 100)|gradient((max_rain * 100)|int) }};">
                            {{ hour.precip_mm }}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>🌧</th>
                        {% for hour in forecast.hour|selectattr("is_day") %}
                        <td style="background-color: {{ hour.chance_of_rain|gradient(100) }};">{{ hour.chance_of_rain }}%</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </section>
        {% endfor %}
        <footer><a href="https://github.com/abulte/velo-weather">Source code</a></footer>
    </div>
</body>
</html>
